@import "setup";
@import "variables";
@import "mixins";

// general styling
html {
  font-size: 100%;
}

body {
  font-family: $lato;
  color: $white;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  display: block;
}

.selected {
  color: $yellow;
}

.clickLink {
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
  height: 30px;
  padding: 8px;
  color: $yellow;
  transition: transform 0.3s;
}

.clickLink:focus {
  transform: translateY(0%);
  left: 40%;
  top: 25%;
}

// HOME PAGE
// header styling
header {
  height: 100vh;
  background-image: url(../mindnsoul-assets/home-image-1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  //   position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav {
  @include navStyle;
  overflow-y: hidden;
}

h1 {
  @include headingFont(2rem);
  margin: 0;
}

h2 {
  @include headingFont(4rem);
  margin: 0 auto;
}

h3 {
  @include headingFont(2rem);
}

h4 {
  margin: 0px;
  color: $yellow;
}

h5 {
  @include headingFont(1.1rem);
  margin-top: 0;
  color: $white;
}

.mobileMenuHolder {
  overflow-y: hidden;
}

.mobileMenu {
  visibility: hidden;
  // max-height: 0px;
  position: relative;
  top: -300px;
  // opacity: 0;
  flex-direction: column;
  // text-align: center;
  transition: all 0.4s ease;
}

.wrapperOne {
  @include wrapperStyle(85%, 1200px);
}

.headingHolder {
  display: flex;
}

.headImg {
  width: 50%;
  max-width: 650px;
  align-self: flex-end;
}

.headImg img {
  transform: translateY(100px);
}

.heading {
  margin-left: 30px;
  width: 40%;
  margin-top: 100px;
}
.heading p {
  color: $white;
  font-family: $lato;
  font-size: 1.5rem;
  margin-bottom: 0;
}

// First Section Styling

main a {
  @include buttonStyle;
}

.firstSection {
  background-color: $brown;
  padding-top: 80px;
  padding-bottom: 40px;
}

.firstSectionHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.firstSectionText {
  width: 60%;
}

.firstSectionImg {
  width: 25%;
  box-shadow: -15px 15px $green;
}

// Second Section Styling

.secondSection {
  background-color: $grey;
  padding: 60px 0;
}

.secondSectionImg ul,
.thirdSection ul {
  display: flex;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.secondSectionImg ul li {
  list-style: none;
  width: calc((100% / 3) - 20px);
}

// Third Section Styling

.thirdSection {
  background-color: $brown;
  padding-top: 50px;
  padding-bottom: 100px;
}

.logo {
  display: flex;
  align-items: center;
}

.thirdSection ul li {
  list-style: none;
  width: calc((100% / 2) - 50px);
  margin-bottom: 10px;
}

.logo h3 {
  margin: 0;
  padding-left: 10px;
}

.logo i {
  background-color: $green;
  padding: 10px;
  border-radius: 50%;
}

// Fourth Section Styling
.fourthSection {
  background-color: $grey;
}

.wrapperTwo {
  @include wrapperStyle(82%, 1100px);
}

.fourthSectionHold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.fourthSectionHold:first-child {
  margin-bottom: 120px;
}

.fourthSectionText {
  margin-bottom: 30px;
  width: 40%;
}

.fourthSectionText p {
  width: 100%;
}

.fourthSectionImg {
  width: 55%;
  position: relative;
  max-width: 600px;
  min-width: 250px;
}

.fourthSectionImg:first-child img {
  position: absolute;
  box-shadow: 15px 15px $yellow;
  right: 20%;
  top: -190px;
}

.fourthSectionImg:nth-of-type(2) img {
  position: absolute;
  box-shadow: -15px 15px $yellow;
  right: -20%;
  bottom: -150px;
}

// Last Section
.lastSection {
  background-color: $brown;
}
.bannerImage {
  width: 100%;
}
.lastSectionText {
  margin-top: 0px;
  padding: 80px;
  text-align: center;
}

.lastSection h3 {
  margin-top: 0;
}

.lastSection p {
  text-align: left;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: gray;
  text-align: center;
  padding: 5px;
}

// BLOG PAGE STYLING ******************************************************************************

// blog header styling

article {
  width: 60%;
  min-width: 350px;
  max-width: calc(680px + 10%);
}

.blogWrapper {
  max-width: 700px;
  margin-right: auto;
  margin-left: 10%;
  width: 90%;
  padding: 10px;
}

.blogImg {
  width: 100%;
  position: relative;
  top: -30px;
  box-shadow: 20px 15px 0px -5px $green;
  left: -12px;
}

.blogText p {
  width: 100%;
}

.blogHeader {
  height: 50vh;
  background-image: url(../mindnsoul-assets/blog-image-1.jpg);
}

.blogMain {
  background-color: $brown;
}

.blogHeader h2 {
  // margin-top: 12%;
  font-size: 5.5rem;
  letter-spacing: 1rem;
}

// blog main styling

.blogMain aside {
  width: 30%;
  background-color: $green;
  padding-right: 10px;
  height: auto;
  align-self: flex-start;
  margin-top: 60px;
  min-width: 150px;
  max-width: 260px;
}

.blogEntry {
  width: 100%;
  margin-top: -3%;
  line-height: 1.5;
}

.blogFlex {
  display: flex;
  align-items: center;
  max-width: 2000px;
  margin: auto;
}

.blogPost {
  width: 75%;
  min-width: 350px;
  max-width: calc(700px + 10%);
  border: 3px solid $green;
  border-top: none;
  border-left: none;
}

.blogText {
  width: 100%;
}

.asideImg {
  position: relative;
  right: -10px;
  top: -10px;
}

.asideText {
  padding-left: 10px;
  margin-bottom: 20px;
}

.asideText ul {
  padding-left: 15px;
  color: $yellow;
}

.asideText ul li {
  color: white;
}
.asideText ul li::before {
  content: "\2022";
  color: $yellow;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

// Comments styling

.comment {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 80px;
}

.commentImg {
  width: 15%;
}

.commentText {
  width: 80%;
}

article h3 {
  margin-bottom: 20px;
  color: $white;
}

// Blog form styling
fieldset {
  border: transparent;
  display: flex;
  flex-direction: column;
}

fieldset textarea {
  margin: 20px 0px;
  width: 100%;
}

fieldset button {
  @include buttonStyle;
  border: transparent;
}

fieldset input,
fieldset textarea {
  background-color: transparent;
  border: 2px solid $yellow;
  color: white;
  padding: 10px;
}
fieldset input[type="text"],
fieldset input[type="email"] {
  width: 45%;
  border: none;
  border-bottom: 2px solid $yellow;
}

.commentForm {
  width: 60%;
}

.personalDetails {
  display: flex;
  justify-content: space-between;
}

// CONTACT PAGE STYLING****************************************************************************

// Contact header styling
.contactHeader {
  background-image: url(../mindnsoul-assets/contact-image-1.jpg);
  background-size: cover;
  background-position: 10% 50%;
  height: 75vh;
}

.contactHeader h2 {
  @include headingFont(5.5rem);
  margin-top: 200px;
  margin-left: 5%;
}
// Contact main styling

.contactMain {
  background-color: $brown;
}

.contactFlex {
  display: flex;
  justify-content: space-between;
}

.contactArea {
  width: 70%;
  position: relative;
  top: -200px;
}

.contactInfo {
  width: 100%;
  align-self: center;
}

.contactMain aside {
  background-color: transparent;
}

.contactMain form {
  background-color: $grey;
  padding: 80px 40px 40px 40px;
  box-shadow: 25px 25px 0px -5px $yellow;
  margin-right: 25px;
}
.contactMain form input {
  margin-bottom: 20px;
}
.contactMain form textarea {
  margin-bottom: 40px;
}

.contactInfo ul {
  list-style: none;
  display: flex;
  padding-left: 0px;
}

.contactInfo ul li {
  display: inline-block;
  margin-right: 3px;
}

.contactInfo ul li a {
  background-color: transparent;
  color: $yellow;
  font-size: 1.5rem;
}

// RESPONSIVE STYLING******************************************************************************

@media (max-width: 750px) {
  h3 {
    line-height: 0.6;
    font-size: 1.8rem;
  }

  main a {
    display: inline-block;
  }
  // HOME PAGE RESPONSIVE

  // Home page header
  header {
    background-position: right;
  }
  .headingHolder {
    flex-direction: column-reverse;
    align-items: center;
  }

  .headImg {
    align-self: initial;
  }

  .heading {
    width: auto;
    margin-left: 0px;
  }
  .headImg img {
    transform: translateY(0px);
  }

  // Home page third section
  .thirdSection ul {
    align-self: baseline;
  }

  // Home page fourth section

  .fourthSectionImg img {
    position: initial;
  }

  // CONTACT PAGE RESPONSIVE
  .contactFlex {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .contactInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media (max-width: 682px) {
  h3 {
    line-height: 0.8;
  }
  // HOME PAGE STYLING*****************************************************************************

  header {
    background-position: right;
  }
  nav {
    flex-direction: column;
    align-items: center;
    margin-bottom: auto auto;
  }
  .desktopMenu {
    display: none;
  }
  .heading {
    margin-top: 0px;
  }

  // Hamburger Menu Styling , inspired by video from codeSTACKr (https://www.youtube.com/watch?v=dIyVTjJAkLw)

  .menuBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  .menuBtnBurger {
    width: 50px;
    height: 6px;
    background: $yellow;
    border-radius: 5px;

    transition: all 0.2s ease-in;
  }

  .menuBtnBurger::before,
  .menuBtnBurger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: $yellow;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .menuBtnBurger::before {
    transform: translateY(-16px);
  }
  .menuBtnBurger::after {
    transform: translateY(16px);
  }

  .menuBtn:hover,
  .menuBtn:focus {
    outline: 0;
  }

  .menuBtn:hover .menuBtnBurger::before,
  .menuBtn:hover .menuBtnBurger,
  .menuBtn:hover .menuBtnBurger::after,
  .menuBtn:focus .menuBtnBurger::before,
  .menuBtn:focus .menuBtnBurger,
  .menuBtn:focus .menuBtnBurger::after {
    box-shadow: 2px 0px 5px rgb(224, 192, 8);
  }

  .menuBtn.move .menuBtnBurger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menuBtn.move .menuBtnBurger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menuBtn.move .menuBtnBurger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .mobileMenu.open {
    align-items: center;
    padding-left: 0;
    padding: 10px;
    text-align: center;
    visibility: visible;
    top: 0px;
  }

  .mobileMenu li {
    margin: 7px;
  }

  .mobileMenu li a {
    padding: 4px;
  }

  // Home page main
  .firstSectionHolder {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .firstSectionImg {
    box-shadow: none;
    border-bottom: 5px solid $green;
    width: 40%;
  }

  .wrapperTwo {
    padding: 40px 0px;
    width: 100%;
  }

  .fourthSectionHold {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px 0px;
  }

  .fourthSectionText {
    width: 50%;
  }

  .thirdSection ul li {
    width: 100%;
  }

  .firstSectionHolder p {
    text-align: left;
  }
  .fourthSectionText p {
    margin-bottom: 30px;
  }

  .fourthSectionHold:first-child {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .fourthSectionImg:first-child img {
    position: static;
    box-shadow: none;
    border-bottom: 5px solid $yellow;
  }

  .fourthSectionImg:nth-of-type(2) img {
    position: static;
    box-shadow: none;
    border-bottom: 5px solid $yellow;
  }

  // Third section styling
  .thirdSection ul {
    flex-direction: column;
    align-items: center;
  }

  // Contact page styling
  .contactHeader .wrapperOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: red;
    height: 100%;
  }

  .contactHeader h2 {
    margin-top: 0px;
  }
  .contactArea {
    position: static;
    margin: 40px auto;
  }

  // Blog page header styling

  .blogHeader h2 {
    margin: 0;
    text-align: end;
    // width: 20%;
    margin-left: auto;
    margin-bottom: -50px;
  }
}

@media (max-width: 580px) {
  // Contact page styling
  .contactArea {
    width: 90%;
  }

  .contactArea form {
    margin: auto;
    box-shadow: none;
    border-bottom: 5px solid $yellow;
  }
}

@media (max-width: 530px) {
  // Blog page main styling

  .blogWrapper {
    margin: auto;
  }

  .blogFlex {
    flex-direction: column;
    margin: auto;
  }

  .asideImg {
    position: static;
    width: 40%;
  }

  .asideText {
    width: calc(30% - 20px);
  }

  .commentForm {
    width: 100%;
  }

  .blogMain article,
  .blogMain aside,
  .blogPost {
    width: 100%;
  }

  .blogMain aside {
    margin: auto;
    padding: 15px;
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }

  nav ul li {
    margin: 5px;
  }

  nav ul li a {
    padding: 5px 10px;
  }

  .clickLink:focus {
    left: 35%;
    margin: auto;
  }
  .firstSectionText,
  .fourthSectionText,
  .lastSectionText {
    width: 100%;
    text-align: center;
  }

  .lastSectionText {
    padding: 20px 0px 20px 0px;
  }

  .wrapperOne,
  .wrapperTwo {
    width: 90%;
  }

  nav ul,
  .thirdSection ul {
    padding-left: 0px;
  }

  .logo {
    text-align: center;
  }
}

@media (max-width: 475px) {
  // Blog aside styling
  .blogMain aside {
    justify-content: center;
    padding: 20px;
  }

  .blogMain .asideText {
    width: 70%;
    margin-top: 10px;
  }

  .blogMain .asideImg {
    width: 70%;
  }
  // Contact page main styling
  .personalDetails {
    flex-direction: column;
  }
  fieldset .personalDetails input[type="text"],
  fieldset .personalDetails input[type="email"],
  .contactArea fieldset textarea {
    width: 100%;
  }
}
