@import "setup";
@import "variables";
@import "mixins";

// general styling
html {
  font-size: 100%;
}

body {
  font-family: $lato;
  color: $white;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  display: block;
}

.selected {
  color: $yellow;
}
// ::placeholder,
// :-ms-input-placeholder,
// ::-ms-input-placeholder {
//   color: $white;
//   opacity: 1;
// }

// HOME PAGE
// header styling
header {
  height: 100vh;
  background-image: url(/mindnsoul-assets/home-image-1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  //   position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

// nav {
//   display: flex;
//   justify-content: space-between;
//   //   background-color: indianred;

//   ul {
//     display: flex;
//     flex-grow: 1;
//     justify-content: flex-end;
//     list-style: none;

//     li a {
//       padding: 20px;
//       font-family: $lato;
//       color: $white;
//       text-decoration: none;
//       text-transform: uppercase;
//     }
//   }
// }

nav {
  @include navStyle;
}

h1 {
  @include headingFont(2rem);
  margin: 0;
}

h3 {
  @include headingFont(2rem);
}

h4 {
  margin: 0px;
  color: $yellow;
}

h5 {
  font-family: $dokdo;
  font-size: 1.1rem;
  margin-bottom: 0px;
  margin-top: 0;
}

.wrapperOne {
  @include wrapperStyle(85%, 1200px);
}

.headingHolder {
  display: flex;
  //   justify-content: center;
  // align-items: flex-start;
  // background-color: lawngreen;
  //   width: 60%;
  // margin-top: 100px;
  // flex-wrap: wrap;
  // padding-bottom: 10%;
  // flex-direction: column;
}

.headImg {
  // position: relative;
  // top: 180px;
  // left: 0;
  width: 50%;
  // transform: translateY(90%);
  max-width: 650px;
  align-self: flex-end;
  // background-color: aquamarine;
}

.headImg img {
  // position: relative;
  // bottom: -100px;
  // left: 0;
  transform: translateY(100px);
}

.heading {
  margin-left: 30px;
  width: 40%;
  // align-self: center;
  // background-color: khaki;
  margin-top: 100px;
}
.heading p {
  color: $white;
  font-family: $lato;
  font-size: 1.5rem;
  margin-bottom: 0;
}

h2 {
  color: $yellow;
  font-family: $dokdo;
  font-size: 4rem;
  margin: 0 auto;
}

// First Section Styling

main a {
  @include buttonStyle;
}

.firstSection {
  background-color: $brown;
  padding-top: 80px;
  padding-bottom: 40px;
}

.firstSectionHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin: 80px auto 50px auto;
  // margin-top: 40px;
}

.firstSectionText {
  width: 60%;
  // background-color: aquamarine;
}

.firstSectionImg {
  width: 25%;
  box-shadow: -15px 15px $green;
}

// Second Section Styling

.secondSection {
  background-color: $grey;
  padding: 60px 0;
}

.secondSectionImg ul {
  display: flex;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.secondSectionImg ul li {
  list-style: none;
  width: calc((100% / 3) - 20px);
}

// Third Section Styling

.thirdSection {
  background-color: $brown;
  padding-top: 50px;
  padding-bottom: 100px;
}

.logo {
  display: flex;
  align-items: center;
  // background-color: lightcoral;
}

.thirdSection ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
}

.thirdSection ul li {
  // display: block;
  list-style: none;
  width: calc((100% / 2) - 50px);
  // width: 40%;
  // background-color: lightgreen;
  margin-bottom: 10px;
}

.logo h3 {
  margin: 0;
  padding-left: 10px;
}

.logo i {
  background-color: $green;
  padding: 10px;
  border-radius: 50%;
}

// Fourth Section Styling
.fourthSection {
  background-color: $grey;
}

.wrapperTwo {
  // display: flex;
  @include wrapperStyle(82%, 1100px);
}

.fourthSectionHold {
  display: flex;
  justify-content: space-between;
  // background-color: lightgreen;
  align-items: center;
  height: auto;
  // padding: 40px 0;
}

.fourthSectionHold:first-child {
  margin-bottom: 120px;
  // background-color: red;
}

.fourthSectionText {
  margin-bottom: 30px;
  width: 40%;
  // text-align: end;
}

.fourthSectionText p {
  width: 100%;
}

.fourthSectionImg {
  width: 55%;
  position: relative;
  max-width: 600px;
  min-width: 250px;
  // border: 2px solid red;
  // overflow-x: hidden;
}
.fourthSectionImg:first-child img {
  position: absolute;
  box-shadow: 15px 15px $yellow;
  right: 20%;
  top: -190px;
}

.fourthSectionImg:nth-of-type(2) img {
  position: absolute;
  box-shadow: -15px 15px $yellow;
  right: -20%;
  bottom: -150px;
  // border: 1px solid red;
}

// Last Section
.lastSection {
  background-color: $brown;
}
.bannerImage {
  width: 100%;
}
.lastSectionText {
  margin-top: 0px;
  padding: 80px;
  text-align: center;
}

.lastSection h3 {
  margin-top: 0;
}

.lastSection p {
  text-align: left;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: gray;
  text-align: center;
  padding: 5px;
}

// BLOG PAGE

// blog header styling

article {
  width: 60%;
  // background-color: lime;
  min-width: 350px;
  max-width: calc(680px + 10%);
}

.blogWrapper {
  // border: 2px solid violet;
  max-width: 700px;
  margin-right: auto;
  margin-left: 10%;
  width: 90%;
  padding: 10px;
}

.blogImg {
  width: 100%;
  position: relative;
  top: -30px;
  box-shadow: 20px 15px 0px -5px $green;
  left: -12px;
  // max-width: 585px;
  // margin-left: 2.3%;
  // border-right: 15px solid $green;
  // border-bottom: 15px solid $green;
}

.blogImg img {
  position: relative;
  // top: -30px;
  // bottom: 0px;
}

.blogText p {
  // margin: auto;
  width: 100%;
  // background-color: white;
}

.blogHeader {
  height: 50vh;
  background-image: url(/mindnsoul-assets/blog-image-1.jpg);
  // justify-content: flex-start;
  // margin-bottom: 50px;
}

.blogMain {
  background-color: $brown;
  // display: flex;
}

.blogHeader nav {
  // align-self: flex-start;
}

.blogHeader h2 {
  margin-top: 12%;
  font-size: 5.5rem;
  letter-spacing: 1rem;
}

// blog main styling

aside {
  width: 30%;
  background-color: $green;
  padding-right: 10px;
  height: auto;
  align-self: flex-start;
  margin-top: 60px;
  min-width: 150px;
  max-width: 260px;
}

.blogEntry {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // background-color: violet;
  // flex-wrap: wrap;
  // position: relative;
  // top: -80px;
  margin-top: -3%;
  line-height: 1.5;
}

.blogFlex {
  // margin-top: 40px;
  display: flex;
  // flex-direction: space-between;
  // background-color: yellowgreen;
  align-items: center;
  max-width: 2000px;
  margin: auto;
}

.blogPost {
  // display: flex;
  // flex-direction: column;
  // align-self: center;
  width: 75%;
  min-width: 350px;
  max-width: calc(700px + 10%);
  // background-color: yellowgreen;
  // margin: auto;
  border: 3px solid $green;
  border-top: none;
  border-left: none;
  // padding: 15px;
}

.blogText {
  width: 100%;
  // background-color: whitesmoke;
}

.asideImg {
  // box-shadow: -15px 10px $green;
  position: relative;
  right: -10px;
  top: -10px;
}

.asideText {
  padding-left: 10px;
  margin-bottom: 20px;
}

.asideText ul {
  padding-left: 15px;
  // list-style: none;
  color: $yellow;
}
.asideText ul li {
  color: white;
}
.asideText ul li::before {
  content: "\2022";
  color: $yellow;
  // font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

// Comments styling

.comment {
  display: flex;
  // align-items: baseline;
  align-items: flex-start;
  justify-content: space-between;
  // background-color: coral;
  margin-bottom: 80px;
}

.commentImg {
  width: 15%;
  // align-self: flex-start;
}

.commentText {
  width: 80%;
  // flex-grow: 1;
  // margin-top:0px;
}

article h3 {
  margin-bottom: 20px;
  color: $white;
}

// Blog form styling
fieldset {
  border: transparent;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // align-items: center;
}

fieldset textarea {
  margin: 20px 0px;
}

fieldset button {
  @include buttonStyle;
  border: transparent;
}

fieldset input,
fieldset textarea {
  background-color: transparent;
  border: 2px solid $yellow;
  color: white;
  padding: 10px;
}
fieldset input[type="text"],
fieldset input[type="email"] {
  width: 45%;
  border: none;
  border-bottom: 2px solid $yellow;
}

.commentForm {
  width: 60%;
}

.personalDetails {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 20px;
}

// RESPONSIVE STYLES

@media (max-width: 750px) {
  h3 {
    line-height: 0.6;
    font-size: 1.8rem;
  }

  main a {
    display: inline-block;
  }
  // HOME PAGE RESPONSIVE

  // Home page header
  header {
    background-position: right;
  }
  .headingHolder {
    flex-direction: column-reverse;
    align-items: center;
  }

  .headImg {
    align-self: initial;
  }

  .heading {
    width: auto;
    margin-left: 0px;
  }
  .headImg img {
    transform: translateY(0px);
  }

  // Home page third section
  .thirdSection ul {
    align-self: baseline;
  }

  // Home page fourth section

  .fourthSectionImg img {
    position: initial;
  }
}

@media (max-width: 682px) {
  h3 {
    line-height: 0.8;
  }
  // HOME PAGE STYLING

  // Home page header
  // .headingHolder {
  //   margin-bottom: auto;
  //   align-self: flex-start;
  // }
  header {
    background-position: right;
  }
  nav {
    flex-direction: column;
    align-items: center;
    margin-bottom: auto auto;
  }

  // Home page main
  .firstSectionHolder {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .firstSectionImg {
    box-shadow: none;
    border-bottom: 5px solid $green;
    width: 40%;
  }

  .wrapperTwo {
    padding: 40px 0px;
    width: 100%;
  }

  .fourthSectionHold {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px 0px;
    // margin-bottom: auto;
  }

  .fourthSectionText {
    width: 50%;
  }

  .thirdSection ul li {
    width: 100%;
  }

  .firstSectionHolder p {
    text-align: left;
  }
  .fourthSectionText p {
    margin-bottom: 30px;
  }

  .fourthSectionHold:first-child {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .fourthSectionImg:first-child img {
    position: static;
    box-shadow: none;
    border-bottom: 5px solid $yellow;
  }

  .fourthSectionImg:nth-of-type(2) img {
    position: static;
    box-shadow: none;
    border-bottom: 5px solid $yellow;
  }

  // Third section styling
  .thirdSection ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 530px) {
  // Blog page main styling

  .blogWrapper {
    margin: auto;
  }

  .blogFlex {
    flex-direction: column;
    // width: 70%;
    margin: auto;
  }

  .asideImg {
    position: static;
    width: 40%;
  }

  .asideText {
    width: calc(30% - 20px);
    // margin-right: 8px;
  }

  .commentForm {
    width: 100%;
  }

  .blogMain article,
  .blogMain aside,
  .blogPost {
    width: 100%;
  }

  .blogMain aside {
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }

  nav ul li {
    margin: 5px;
  }

  nav ul li a {
    padding: 5px 10px;
  }

  .firstSectionText,
  .fourthSectionText,
  .lastSectionText {
    width: 100%;
    // padding-left: 40px;
    text-align: center;
  }

  .lastSectionText {
    padding: 20px 0px 20px 0px;
  }

  .wrapperOne,
  .wrapperTwo {
    width: 90%;
  }

  nav ul,
  .thirdSection ul {
    padding-left: 0px;
  }

  .logo {
    text-align: center;
  }
}

@media (max-width: 475px) {
  // Blog aside styling
  .blogMain aside {
    justify-content: center;
    padding: 20px;
  }

  .blogMain .asideText {
    width: 70%;
    margin-top: 10px;
  }

  .blogMain .asideImg {
    width: 70%;
  }
}
