@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: #fafffe;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

.selected {
  color: #ffc600;
}

header {
  height: 100vh;
  background-image: url(/mindnsoul-assets/home-image-1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
nav ul li a {
  padding: 20px;
  font-family: "Lato", sans-serif;
  color: #fafffe;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul :hover {
  color: #ffc600;
}

h1 {
  color: #ffc600;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Dokdo", cursive;
  margin-bottom: 0;
  margin: 0;
}

h3 {
  color: #ffc600;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Dokdo", cursive;
  margin-bottom: 0;
}

h4 {
  margin: 0px;
  color: #ffc600;
}

h5 {
  font-family: "Dokdo", cursive;
  font-size: 1.1rem;
  margin-bottom: 0px;
  margin-top: 0;
}

.wrapperOne {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.headingHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headImg {
  width: 50%;
  max-width: 650px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.headImg img {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.heading {
  margin-left: 30px;
  width: 40%;
  margin-top: 100px;
}

.heading p {
  color: #fafffe;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
}

h2 {
  color: #ffc600;
  font-family: "Dokdo", cursive;
  font-size: 4rem;
  margin: 0 auto;
}

main a {
  background-color: #555f02;
  color: #fafffe;
  text-decoration: none;
  font-family: "Dokdo", cursive;
  padding: 10px 5px;
  font-size: 1.15rem;
}

.firstSection {
  background-color: #1e140e;
  padding-top: 80px;
  padding-bottom: 40px;
}

.firstSectionHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstSectionText {
  width: 60%;
}

.firstSectionImg {
  width: 25%;
  -webkit-box-shadow: -15px 15px #555f02;
          box-shadow: -15px 15px #555f02;
}

.secondSection {
  background-color: #262725;
  padding: 60px 0;
}

.secondSectionImg ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.secondSectionImg ul li {
  list-style: none;
  width: calc((100% / 3) - 20px);
}

.thirdSection {
  background-color: #1e140e;
  padding-top: 50px;
  padding-bottom: 100px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thirdSection ul li {
  list-style: none;
  width: calc((100% / 2) - 50px);
  margin-bottom: 10px;
}

.logo h3 {
  margin: 0;
  padding-left: 10px;
}

.logo i {
  background-color: #555f02;
  padding: 10px;
  border-radius: 50%;
}

.fourthSection {
  background-color: #262725;
}

.wrapperTwo {
  width: 82%;
  max-width: 1100px;
  margin: 0 auto;
}

.fourthSectionHold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.fourthSectionHold:first-child {
  margin-bottom: 120px;
}

.fourthSectionText {
  margin-bottom: 30px;
  width: 40%;
}

.fourthSectionText p {
  width: 100%;
}

.fourthSectionImg {
  width: 55%;
  position: relative;
  max-width: 600px;
  min-width: 250px;
}

.fourthSectionImg:first-child img {
  position: absolute;
  -webkit-box-shadow: 15px 15px #ffc600;
          box-shadow: 15px 15px #ffc600;
  right: 20%;
  top: -190px;
}

.fourthSectionImg:nth-of-type(2) img {
  position: absolute;
  -webkit-box-shadow: -15px 15px #ffc600;
          box-shadow: -15px 15px #ffc600;
  right: -20%;
  bottom: -150px;
}

.lastSection {
  background-color: #1e140e;
}

.bannerImage {
  width: 100%;
}

.lastSectionText {
  margin-top: 0px;
  padding: 80px;
  text-align: center;
}

.lastSection h3 {
  margin-top: 0;
}

.lastSection p {
  text-align: left;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: gray;
  text-align: center;
  padding: 5px;
}

article {
  width: 60%;
  min-width: 350px;
  max-width: calc(680px + 10%);
}

.blogWrapper {
  max-width: 700px;
  margin-right: auto;
  margin-left: 10%;
  width: 90%;
  padding: 10px;
}

.blogImg {
  width: 100%;
  position: relative;
  top: -30px;
  -webkit-box-shadow: 20px 15px 0px -5px #555f02;
          box-shadow: 20px 15px 0px -5px #555f02;
  left: -12px;
}

.blogImg img {
  position: relative;
}

.blogText p {
  width: 100%;
}

.blogHeader {
  height: 50vh;
  background-image: url(/mindnsoul-assets/blog-image-1.jpg);
}

.blogMain {
  background-color: #1e140e;
}

.blogHeader h2 {
  margin-top: 12%;
  font-size: 5.5rem;
  letter-spacing: 1rem;
}

aside {
  width: 30%;
  background-color: #555f02;
  padding-right: 10px;
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 60px;
  min-width: 150px;
  max-width: 260px;
}

.blogEntry {
  width: 100%;
  margin-top: -3%;
  line-height: 1.5;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 2000px;
  margin: auto;
}

.blogPost {
  width: 75%;
  min-width: 350px;
  max-width: calc(700px + 10%);
  border: 3px solid #555f02;
  border-top: none;
  border-left: none;
}

.blogText {
  width: 100%;
}

.asideImg {
  position: relative;
  right: -10px;
  top: -10px;
}

.asideText {
  padding-left: 10px;
  margin-bottom: 20px;
}

.asideText ul {
  padding-left: 15px;
  color: #ffc600;
}

.asideText ul li {
  color: white;
}

.asideText ul li::before {
  content: "•";
  color: #ffc600;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.commentImg {
  width: 15%;
}

.commentText {
  width: 80%;
}

article h3 {
  margin-bottom: 20px;
  color: #fafffe;
}

fieldset {
  border: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

fieldset textarea {
  margin: 20px 0px;
}

fieldset button {
  background-color: #555f02;
  color: #fafffe;
  text-decoration: none;
  font-family: "Dokdo", cursive;
  padding: 10px 5px;
  font-size: 1.15rem;
  border: transparent;
}

fieldset input,
fieldset textarea {
  background-color: transparent;
  border: 2px solid #ffc600;
  color: white;
  padding: 10px;
}

fieldset input[type=text],
fieldset input[type=email] {
  width: 45%;
  border: none;
  border-bottom: 2px solid #ffc600;
}

.commentForm {
  width: 60%;
}

.personalDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  h3 {
    line-height: 0.6;
    font-size: 1.8rem;
  }

  main a {
    display: inline-block;
  }

  header {
    background-position: right;
  }

  .headingHolder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .headImg {
    -ms-flex-item-align: initial;
        align-self: initial;
  }

  .heading {
    width: auto;
    margin-left: 0px;
  }

  .headImg img {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  .thirdSection ul {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }

  .fourthSectionImg img {
    position: initial;
  }
}
@media (max-width: 682px) {
  h3 {
    line-height: 0.8;
  }

  header {
    background-position: right;
  }

  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: auto auto;
  }

  .firstSectionHolder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .firstSectionImg {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 5px solid #555f02;
    width: 40%;
  }

  .wrapperTwo {
    padding: 40px 0px;
    width: 100%;
  }

  .fourthSectionHold {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    padding: 20px 0px;
  }

  .fourthSectionText {
    width: 50%;
  }

  .thirdSection ul li {
    width: 100%;
  }

  .firstSectionHolder p {
    text-align: left;
  }

  .fourthSectionText p {
    margin-bottom: 30px;
  }

  .fourthSectionHold:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .fourthSectionImg:first-child img {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 5px solid #ffc600;
  }

  .fourthSectionImg:nth-of-type(2) img {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 5px solid #ffc600;
  }

  .thirdSection ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 500px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  nav ul li {
    margin: 5px;
  }

  nav ul li a {
    padding: 5px 10px;
  }

  .firstSectionText,
.fourthSectionText,
.lastSectionText {
    width: 100%;
    text-align: center;
  }

  .lastSectionText {
    padding: 20px 0px 20px 0px;
  }

  .wrapperOne,
.wrapperTwo {
    width: 90%;
  }

  nav ul,
.thirdSection ul {
    padding-left: 0px;
  }

  .logo {
    text-align: center;
  }
}